@model FoodMenu.Models.Plate
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div>
        <h2>@Model.Name</h2>
        <img src="@Model.ImageUrl" />
        <h3>@Model.Price</h3>
        @foreach (var item in Model.PlateIngredients)
        {
            <h4>@item.Ingredient.Name</h4>
        }
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
